@font-face {
        font-family: "lachatteamaman";
        src: url('../fonts/lachatteamaman.eot');
        src: url('../fonts/lachatteamaman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lachatteamaman.svg#la Chatte à Maman') format('svg'),
        url('../fonts/lachatteamaman.woff') format('woff'),
        url('../fonts/lachatteamaman.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

body{
	margin: 30px 0;
	font-family: Calibri, Helvetica, "lachatteamaman", Arial;
	font-size: 2.5em;
}

.middle{
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 10em;
}

@media screen and (max-width: 960px) {
  body {
 	font-size: .7em;   
  }
}